@import url("./global/global.css");

body {
  background-color: bisque;
  height: 100%;
  height: 100vh;
  display: grid;
  // grid-template-rows: 1fr 5em auto;
  grid-template-rows: 85vh 15vh;
}

main {
  background-color: white;
  height: 100%;
  // height: 100vh;
}

.main_nav {
  height: 5em;
  height: 100%;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & > button {
    border: 6px solid #b08d0e;
    background-color: #e7d9a6;

    & > img {
      width: 45%;
    }

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
      img {
        width: 60%;
      }
    }
  }
}

.hidden {
  display: none;
}
