@import url("./global/global.css");

$mainColor1: #120037;
$textColor1: #fff;

$mainColor2: #1016bf;

body {
  background-color: #1f0f3f;
  height: 100%;
  display: grid;
  grid-template-rows: 85vh 15vh;
  max-width: 780px;
  margin: auto;
}

main {
  background-color: $mainColor1;
  height: 100%;
}

.main_nav {
  height: 100%;
  background-color: aquamarine;
  background-color: $mainColor1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & > .navBtn {
    // border: 6px solid #b08d0e;
    // background-color: #e7d9a6;
    border: 6px solid $mainColor1;
    background-color: $mainColor2;
    // border-radius: 1em;

    &:hover {
      background-color: rgb(145, 148, 68);
    }

    & > img {
      width: 45%;

      &:hover {
        background-color: rgb(145, 148, 68);
      }
    }

    &:first-child {
      border-right: 0;
      border-radius: 1em 0 0 1em;
    }

    &:last-child {
      border-left: 0;
      border-radius: 0 1em 1em 0;

      img {
        width: 60%;
      }
    }
  }
}

.hidden {
  display: none;
}

#selectedNav {
  background-color: rgb(145, 148, 68);
}
