@import url("../global/global.css");

:host(main-view) > section {
  background-color: #fff;
  height: 80vh;

  h1 {
    background-color: green;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.75em;
  }
}

:host(main-view) > .bank {
  display: grid;
  grid-template-rows: 8em 1fr 1fr;

  .overview {
    background-color: aquamarine;

    thead {
      font-size: 2em;
    }

    tbody {
      font-size: 4em;
      text-align: center;
    }
  }
}

:host(main-view) > .laptops {
  display: grid;
  grid-template-rows: 8em 1fr 1fr;
  height: 100%;

  & > .select-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0.4em;
    padding: 0.4em;

    & > select {
      grid-column: 1/3;
    }

    & > [selected="true"] {
      border: 0.4em solid green;
    }

    & > div {
      display: grid;

      & > * {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 100%;
      }

      & > input {
        cursor: pointer;
        opacity: 0;
      }
    }
  }

  & > .buy-form {
    display: grid;
    grid-template-columns: 1.7fr 1fr;

    & > .details {
      padding: 0.2em;
      background-color: salmon;
      display: flex;
      flex-direction: column;

      & dl {
        display: grid;
        gap: 1em;
      }

      & dt {
        font-size: 1.3em;
        text-align: center;
      }

      & dd {
        text-transform: uppercase;
        font-size: 0.8em;
        line-height: 1.2em;
      }

      & > ul {
        font-size: 0.8em;
        margin-top: auto;
      }
    }

    & > .checkout {
      background-color: greenyellow;
      display: grid;
      grid-template-rows: 1fr 1fr;

      & > * {
        text-transform: uppercase;
        text-align: center;
      }

      & > hgroup {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: auto;
        gap: 1em;

        p,
        h2 {
          font-size: 2em;
        }

        p.stock {
          font-size: 1em;
          color: #83530f;
          font-weight: 600;
        }
      }

      button {
        font-size: 1.5em;
      }
    }
  }
}

:host(main-view) > .work {
  background-color: skyblue;
  display: grid;
  // grid-template-rows: 8em 15em;
  grid-template-rows: 8em 1fr 1fr;
  height: 100%;

  .work {
    height: 100%;
    display: grid;
    grid-template-rows: 4em 1.618fr 1fr;

    &_job {
      background-color: pink;
      display: flex;

      & > * {
        margin: auto;
        font-size: 2em;
      }

      // h2 {
      // }

      button {
        width: 6em;
        height: 3em;
      }
    }

    &_banking {
      display: flex;

      button {
        width: 45%;
        height: 50%;
        margin: auto;
        font-size: 2em;
      }

      &-deposit {
        background-color: greenyellow;
      }

      &-repay {
        background-color: aquamarine;
      }
    }
  }

  & > table {
    background-color: pink;

    thead {
      font-size: 2em;
    }

    tbody {
      font-size: 4em;
      text-align: center;
      // td {
      //   text-align: center;
      // }
    }
  }
}
