@import url("../global/global.css");
:host(main-view) > section {
  background-color: #fff;
  height: 80vh;
}
:host(main-view) > section h1 {
  background-color: green;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.75em;
}

:host(main-view) > .bank {
  display: grid;
  grid-template-rows: 8em 1fr 1fr;
}
:host(main-view) > .bank .overview {
  background-color: aquamarine;
}
:host(main-view) > .bank .overview thead {
  font-size: 2em;
}
:host(main-view) > .bank .overview tbody {
  font-size: 4em;
  text-align: center;
}

:host(main-view) > .laptops {
  display: grid;
  grid-template-rows: 8em 1fr 1fr;
  height: 100%;
}
:host(main-view) > .laptops > .select-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0.4em;
  padding: 0.4em;
}
:host(main-view) > .laptops > .select-form > select {
  grid-column: 1/3;
}
:host(main-view) > .laptops > .select-form > [selected=true] {
  border: 0.4em solid green;
}
:host(main-view) > .laptops > .select-form > div {
  display: grid;
}
:host(main-view) > .laptops > .select-form > div > * {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}
:host(main-view) > .laptops > .select-form > div > input {
  cursor: pointer;
  opacity: 0;
}
:host(main-view) > .laptops > .buy-form {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}
:host(main-view) > .laptops > .buy-form > .details {
  padding: 0.2em;
  background-color: salmon;
  display: flex;
  flex-direction: column;
}
:host(main-view) > .laptops > .buy-form > .details dl {
  display: grid;
  gap: 1em;
}
:host(main-view) > .laptops > .buy-form > .details dt {
  font-size: 1.3em;
  text-align: center;
}
:host(main-view) > .laptops > .buy-form > .details dd {
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.2em;
}
:host(main-view) > .laptops > .buy-form > .details > ul {
  font-size: 0.8em;
  margin-top: auto;
}
:host(main-view) > .laptops > .buy-form > .checkout {
  background-color: greenyellow;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
:host(main-view) > .laptops > .buy-form > .checkout > * {
  text-transform: uppercase;
  text-align: center;
}
:host(main-view) > .laptops > .buy-form > .checkout > hgroup {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  gap: 1em;
}
:host(main-view) > .laptops > .buy-form > .checkout > hgroup p,
:host(main-view) > .laptops > .buy-form > .checkout > hgroup h2 {
  font-size: 2em;
}
:host(main-view) > .laptops > .buy-form > .checkout > hgroup p.stock {
  font-size: 1em;
  color: #83530f;
  font-weight: 600;
}
:host(main-view) > .laptops > .buy-form > .checkout button {
  font-size: 1.5em;
}

:host(main-view) > .work {
  background-color: skyblue;
  display: grid;
  grid-template-rows: 8em 1fr 1fr;
  height: 100%;
}
:host(main-view) > .work .work {
  height: 100%;
  display: grid;
  grid-template-rows: 4em 1.618fr 1fr;
}
:host(main-view) > .work .work_job {
  background-color: pink;
  display: flex;
}
:host(main-view) > .work .work_job > * {
  margin: auto;
  font-size: 2em;
}
:host(main-view) > .work .work_job button {
  width: 6em;
  height: 3em;
}
:host(main-view) > .work .work_banking {
  display: flex;
}
:host(main-view) > .work .work_banking button {
  width: 45%;
  height: 50%;
  margin: auto;
  font-size: 2em;
}
:host(main-view) > .work .work_banking-deposit {
  background-color: greenyellow;
}
:host(main-view) > .work .work_banking-repay {
  background-color: aquamarine;
}
:host(main-view) > .work > table {
  background-color: pink;
}
:host(main-view) > .work > table thead {
  font-size: 2em;
}
:host(main-view) > .work > table tbody {
  font-size: 4em;
  text-align: center;
}/*# sourceMappingURL=main-view.css.map */